{
	email {$CADDY_EMAIL}
}

{$SITE_DOMAIN} {
	root * /srv/site
	encode zstd gzip
	file_server

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}

www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$CMS_DOMAIN} {
	reverse_proxy directus:8055
}

{$SHOP_DOMAIN} {
	reverse_proxy wordpress:80
}
